---
---

@import "{{ site.theme }}";

header h1 {
  margin-left: 0;
}

header h1::before {
  content: unset;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7)), url('{{ site.baseurl }}/img/no-contempt.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}